@page
@model ETMP.Pages.AddTrainingModel
@{
    ViewData["Title"] = "AddTraining";
}

<style>
    body {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://theengineeringmindset.com/wp-content/uploads/2019/05/Blueprint-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .leftMargin {
        margin-left: 50px;
    }

    /*#add-training{
            display: none;
        }*/
</style>

<div class="leftMargin">
    <p>Training Name: @Model.TrainingName</p>
    <p>Training Price: @Model.TrainingPrice</p>
    <p>Training Category: @Model.TrainingCategory</p>
    <p>Training Venue: @Model.TrainingVenue</p>
    <p>Training Description: @Model.TrainingDescription</p>
    <p>Training Start Date: @Model.TrainingStartDateTime</p>
    <p>Training End Date: @Model.TrainingEndDateTime</p>
    <p>Training Material Path: @Model.TrainingMaterialFilePath</p>
    <p>Training Availability: @Model.IsAvailable</p>
    <button class="btn btn-primary" onclick="window.location.href = '/ManageTraining'">
        Finish
    </button>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>