@page
@model ETMP.Pages.BrowseTraining
@{
    ViewData["Title"] = "Browse for Trainings";
}

@using ETMP.Models
<!--css for datatable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<!--required javascripts-->
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<style>
    /*css for slideshow*/
    .slideshow-container {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        
    }

    .slideshow-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        display:flex;
        flex-wrap:wrap;
    }

        .slideshow-slide.active {
            opacity: 1;
        }

    .training-name {
        font-size: 60px;
        margin-bottom: 10px;
        
    }

    .training-price {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .training-description {
        font-size: 16px;
    }
    .ssimgContainer img {
        height:100%;
        width:100%;
    }

    .slideshow-container, .myTableContainer {
        margin:10px;
    }

    .ssimgContainer{
        width:50%;
        height:100%;
    }
    .ssdescription{
        padding-left:20px;
        
    }

    .slideshow-container, .slideshow-container{
        border:dashed;
    }
    .ssimgContainer{
        border-right:dashed;
    }
    /* Style the dropdown button */
    .dropbtn {
        background-color: skyblue;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius:25px;
    }

    /* The container - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        margin-right:30px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        white-space: nowrap; /* Prevents the items from wrapping */
        background-color:white;
        border: groove;
        border-color: black;
        padding:10px;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: inline-block; /* Displays the items inline */

        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }
    /*search bar*/
    #myInput{
        width:600px;
        height:60px;
        font-size:36px;
    }



    #myInput {
        display: block;
        opacity: 1;
    }
    /*making the buttons vertical*/
    #priceRangeContainer button {
        display: block;
        margin-bottom: 5px;
    }



</style>


<!--slideshow-->
<div id="container">
    <div class="slideshow-container">
        @foreach (var training in Model.Trainings)
        {
            <div class="slideshow-slide" onclick="fillSearchBar('@training.TrainingName')">
                <div class="ssimgContainer">
                    <img src=@training.TrainingImgURL>
                </div>
                <div class="ssdescription" >
                    <h1 class="training-name" >@training.TrainingName</h1>
                    <p class="training-price">Price :RM @training.TrainingPrice</p>
                    <p class="training-description">Description :@training.TrainingDescription</p>
                </div>
            </div>
        }
    </div>

    <div class="button-container">
        <div class="dropdown">
            <!--sort button-->
            <button class="dropbtn">Sort</button>
            <div class="dropdown-content">
                <a href="#" id="sortByName">Sort by Name</a>
                <a href="#" id="sortByPrice">Sort by Price</a>
                <a href="#" id="sortByDate">Sort by Date</a>
                <a href="#" id="sortByDuration">Sort by Duration</a>
            </div>
        </div>
        <div id="searchbarnimgcontainer">
            <div>
                <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Search for training">
                <div id="autocomplete-list"></div>
            </div>
        </div>

        <div class="dropdown">
            <!--filter button-->
            <button class="dropbtn">Filter</button>
            <div class="dropdown-content">
                <label for="priceRangeContainer">Price range:</label>
                <div id="priceRangeContainer" class="row">
                    <div class="col-md-6">
                        @for (int i = 1; i <= 5; i++)
                        {
                            int minPrice = (i - 1) * 1000 + 1000;
                            int maxPrice = i * 1000 + 999;

                            <button id="btn@i" value="@minPrice - @maxPrice" onclick="handleButtonClick(@i)">
                                @minPrice - @maxPrice
                            </button>
                        }
                    </div>
                    <div class="col-md-6">
                        @for (int i = 6; i <= 10; i++)
                        {
                            int minPrice = (i - 1) * 1000 + 1000;
                            int maxPrice = i * 1000 + 999;

                            <button id="btn@i" value="@minPrice - @maxPrice" onclick="handleButtonClick(@i)">
                                @minPrice - @maxPrice
                            </button>
                        }
                    </div>
                </div>
                <div>
                    <label for="categoryDropdown">Filter by Category:</label>
                    <select id="categoryDropdown">
                        <option value="">All Categories</option>
                        <!--only unique categories are chosen-->
                        @foreach (var category in Model.Trainings.Select(t => t.TrainingCategory).Distinct())
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="TrainingStartDate">Training Start Date:</label>
                    <input id="TrainingStartDate" type="date" onchange="searchForStartDate()" />
                </div>
                <div>
                    <label for="TrainingEndDate">Training End Date:</label>
                    <input id="TrainingEndDate" type="date" onchange="searchForEndDate()" />
                </div>
            </div>
        </div>

    </div>
    <!--table-->
    <div class="myTableContainer">
        <table id="myTable">
            <thead>
                <tr>
                    <th>Training Id</th>
                    <th>Training Name</th>
                    <th>Training Price</th>
                    <th>Training Itinerary</th>
                    <th>Training Venue</th>
                    <th>Training Category</th>
                    <th>Availability</th>
                    <th>Training Description</th>
                    <th>Training Start Date & Time</th>
                    <th>Training End Date & Time</th>
                    <th>Training Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var training in Model.Trainings)
                {
         
                    <tr class="training-row" data-price="@training.TrainingPrice" data-category="@training.TrainingCategory" data-start-date="@training.TrainingStartDateTime.ToString("yyyy-MM-dd")" data-end-date="@training.TrainingEndDateTime.ToString("yyyy-MM-dd")">
                        <td>@training.Id</td>
                        <td>@training.TrainingName</td>
                        <td>@training.TrainingPrice</td>
                        <td>@training.TrainingItinerary</td>
                        <td>@training.TrainingVenue</td>
                        <td>@training.TrainingCategory</td>
                        <td>@training.Availability</td>
                        <td>@training.TrainingDescription</td>
                        <td>@training.TrainingStartDateTime</td>
                        <td>@training.TrainingEndDateTime</td>
                        <td>@training.Duration</td>

                        @if(training.Availability == false)
                        {
                            <td>Unavailable</td>
                        }
                        else
                        {
                            <td><a href="ConfirmPayment?Id=@training.Id">Purchase</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <button onclick="window.location.href = '/Itinerary';">Click Me</button>
    </div>

<script>
    var table = $('#myTable').DataTable({
        responsive: true,
        "searching":false,
    });

    //sort button
    let sortByName = 'asc';
    let sortByPrice = 'asc';
    let sortByDate = 'asc';
    let sortByDuration = 'asc';

    // Sorting by name
    $('#sortByName').click(() => {
        if (sortByName === 'asc') {
            table.order([1, 'asc']).draw();
            sortByName = 'desc';
        } else {
            table.order([1, 'desc']).draw();
            sortByName = 'asc';
        }
    });

    // Sorting by price
    $('#sortByPrice').click(() => {
        if (sortByPrice === 'asc') {
            table.order([2, 'asc']).draw();
            sortByPrice = 'desc';
        } else {
            table.order([2, 'desc']).draw();
            sortByPrice = 'asc';
        }
    });
    $('#sortByDate').click(() => {
        if (sortByDate === 'asc') {
            table.order([8, 'asc']).draw();
            sortByDate = 'desc';
        } else {
            table.order([8, 'desc']).draw();
            sortByDate = 'asc';
        }
    });
    // Sorting by duration
    $('#sortByDuration').click(() => {
        if (sortByDuration === 'asc') {
            table.order([10, 'asc']).draw();
            sortByDuration = 'desc';
        } else {
            table.order([10, 'desc']).draw();
            sortByDuration = 'asc';
        }
    });
    

    //slideshow
    let slides = document.querySelectorAll('.slideshow-slide');
    let currentSlide = 0;

    function showSlide(n) {
        slides[currentSlide].classList.remove('active');
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].classList.add('active');
    }

    showSlide(currentSlide);

    setInterval(function () {
        showSlide(currentSlide + 1);
    }, 3000);





    //filter the training start and end date
    function searchForStartDate() {
        var trainingStartDate = $('#TrainingStartDate').val();
        $('.training-row').hide();
        $('.training-row[data-start-date="' + trainingStartDate + '"]').show();
    }
    function searchForEndDate() {
        var trainingEndDate = $('#TrainingEndDate').val();
        $('.training-row').hide();
        $('.training-row[data-end-date="' + trainingEndDate + '"]').show();
    }

    //filter the table from search bar
    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        // Autocomplete and predict functionality
        var autocompleteList = document.getElementById("autocomplete-list");
        autocompleteList.innerHTML = "";
        if (input.value.length > 0) {
            var autocompleteItems = [];
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // Assumes the second column is the training name
                //tdc = tr[i].getElementsByTagName("td")[5];
                if (td) {
                    txtValue = td.textContent || td.innerText //|| tdc.textContent || tdc.innerText
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        autocompleteItems.push(txtValue);
                    }
                }
            }
            autocompleteItems.forEach(function (item) {
                var option = document.createElement("div");
                option.innerHTML = "<strong>" + item.substr(0, filter.length) + "</strong>";
                option.innerHTML += item.substr(filter.length);
                option.addEventListener("click", function () {
                    input.value = item;
                    filterTable();
                    autocompleteList.innerHTML = "";
                });
                autocompleteList.appendChild(option);
            });
        }
    }

    // Close the autocomplete list if the user clicks outside of it
    document.addEventListener("click", function (e) {
        var autocompleteList = document.getElementById("autocomplete-list");
        if (e.target != autocompleteList && e.target != document.getElementById("myInput")) {
            autocompleteList.innerHTML = "";
        }
    });

    $(document).ready(function () {
        $("#priceRangeContainer button").click(function () {
            var priceRange = $(this).val().split("-");
            var minPrice = parseInt(priceRange[0]);
            var maxPrice = parseInt(priceRange[1]);

            $(".training-row").each(function () {
                var price = parseInt($(this).data("price"));

                if (price >= minPrice && price <= maxPrice) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });


</script>




