@page "/EditTraining/{Id}"
@model ETMP.Pages.EditTrainingModel
@{
    ViewData["Title"] = "EditTraining";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://theengineeringmindset.com/wp-content/uploads/2019/05/Blueprint-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="leftMargin">
    <h1>Training Editor</h1>

    <form id="edit-training" method="post">
        <label for="training-name">Training Name:</label><br />
        <input type="text" id="training-name" placeholder="Training Name" required value="@Model.Training.TrainingName" asp-for="Training.TrainingName"><br>

        <br />
        <div class="form-group">
            <label for="price-range">Price: RM </label>
            <input type="number" id="price-value" value="500" asp-for="Training.TrainingPrice"><br />
        </div>

        <br />
        <div class="form-group">
            <label for="training-description">Training Description:</label><br />
            <textarea id="training-description" value="@Model.Training.TrainingDescription" rows="5" cols="30" required asp-for="Training.TrainingDescription"></textarea><br />
        </div>

        <br />
        <div class="form-group">
            <label for="training-itinerary">Training Itinerary:</label><br/>
            <textarea id="training-itinerary" value="@Model.Training.TrainingItinerary" rows="5" cols="30" required asp-for="Training.TrainingItinerary"></textarea><br />
        </div>

        <br />
        <label for="training-venue">Training Venue:</label><br />
        <input type="text" id="training-venue placeholder="Venue" required value="@Model.Training.TrainingVenue" asp-for="Training.TrainingVenue"><br>

        <br />
        <label for="training-category">Training Category:</label><br />
        <input type="text" id="training-category" placeholder="Category" required value="@Model.Training.TrainingCategory" asp-for="Training.TrainingCategory"><br>

        <br />
        <div>
            <label form="training-availability">
                Is this training Available?
                <br /><input type="radio" id="traininig-availability" value="true" asp-for="Training.Availability" /> Yes
                <br /><input type="radio" id="traininig-availability" value="false" asp-for="Training.Availability" /> No
            </label>
        </div>

        <div id="edit-button" style="display:block;">
            <input type="button" class="btn btn-primary" onclick="onButtonClick()" value="Save">
        </div>

        <div id="edit-button" style="display:block;">
            <input type="button" class="btn btn-primary" onclick="onButtonClick()" value="Download">
        </div>

        <div id="confirmation-button" style="display:none;">
            <p>
                Are you sure?
                <input type="submit" id="submitButton" value="Yes" class="btn btn-primary" />
                <input type="submit" value="No" class="btn btn-danger" asp-page-handler="CancelButton">
            </p>
        </div>
    </form>
</div>

<script>
    function onButtonClick() {
        var addButton = document.getElementById("edit-button");
        var confirmationButton = document.getElementById("confirmation-button");

        addButton.style.display = "none";
        confirmationButton.style.display = "block";
    }
</script>