@page
@model ETMP.Pages.ManageUserAccountModel
@{
    ViewData["Title"] = "ManageUserAccount";
}
@using ETMP.Models

<style>

    .container-header {
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        text-align: left;
    }

    .input-simplified {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
        width: 85%;
        display: inline-block;
    }

    .search_button{
        width: 10%;
        padding: 10px;
        background: blue;
        color: white;
        font-size: 17px;
        border: 0px;
        border-radius: 30px;
        cursor: pointer;
        display: inline-block;
        margin-left: 30px
    }


</style>

<div>
    <div>
        <input class="input-simplified" type="text" id="myInput" onkeyup="filterTable()" placeholder="Search account...">
        <button type="button" class="search_button">Search</button>
    </div>
    <div class="mt-2">
        <label class="m-3">
            Filter type:
            <select id="filter-categories" runat="server" name="FC">
                <option value="No filter">No filter</option>
                <option value="Gender">Gender</option>
                <option value="Organisation">Organisation</option>
                <option value="Training Team">Training Team</option>
            </select>
        </label>
        <label class="m-3">
            Filter by: 
            <select id="filter-options" runat="server" name="FO">
                <option value="No filter">-</option>
                @foreach (var category in Model.UserList.Select(t => t.OrganisationName).Distinct())
                {
                    <option value="@category">@category</option>
                }
            </select>
        </label>
    </div>
    <table class="table mt-3">
        <thead class="container-header">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Organisation
                </th>
                <th>
                    Training Team
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganisationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingTeamName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
