@page
@model ETMP.Pages.ManageUserAccountModel
@{
    ViewData["Title"] = "ManageUserAccount";
}
@using ETMP.Models

<!--css for datatable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<!--required javascripts-->
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<style>

    .container-header {
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        text-align: left;
    }

    .input-simplified {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
        width: 85%;
        display: inline-block;
    }

    .search_button{
        width: 10%;
        padding: 10px;
        background: blue;
        color: white;
        font-size: 17px;
        border: 0px;
        border-radius: 30px;
        cursor: pointer;
        display: inline-block;
        margin-left: 30px
    }

    select{
        min-width:200px;
        font-size:24px;
    }
</style>

<div>
    <div>
        <input class="input-simplified" type="text" id="myInput" onkeyup="searchTable()" placeholder="Search account...">
        <button type="button" class="search_button" id="searchButton">Search</button>
    </div>
    <div class="mt-2">
        <label class="m-3">
            Filter type:
            <select id="filterType">
                <option value="NoFilter">No filter</option>
                <option value="Gender">Gender</option>
                <option value="OrganisationName">Organisation</option>
                <option value="TrainingTeamName">Training Team</option>
            </select>
        </label>
        <label class="m-3">
            Filter by:
            <select id="filterOptions">
                <option value="-">-</option>
            </select>
        </label>
    </div>
    <table id="userTable" class="table mt-3">
        <thead class="container-header">
            <tr>
                <th data-filter-column="email">Email</th>
                <th data-filter-column="firstName">First Name</th>
                <th data-filter-column="lastName">Last Name</th>
                <th data-filter-column="gender">Gender</th>
                <th data-filter-column="organisationName">Organisation</th>
                <th data-filter-column="trainingTeamName">Training Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganisationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingTeamName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        let filterType;
        // Update filter option based on filter category
        $('#filterType').on('change', function () {
            filterType = $(this).val();
            $.ajax({
                url: '/ManageUserAccount?handler=FilterOptions',
                type: 'GET',
                data: { filterType: filterType },
                success: function (data) {
                    var options = '';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].text + '">' + data[i].text + '</option>';
                    }
                    $('#filterOptions').html(options);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Filter the user list when the filter option is changed
        $('#filterOptions').on('change', function () {
            var filterColumn = $('#filterType').val();
            var filterValue = $('#filterOptions').val();
            filterColumn = filterColumn.trim();
            filterValue = filterValue.trim();

            console.log("Type: " + filterColumn);
            console.log("Option: " + filterValue);
            // Make an AJAX request to get the filtered list of users
            $.ajax({
                url: '/ManageUserAccount?handler=FilterTable',
                type: 'GET',
                data: { filterColumn: filterColumn, filterValue: filterValue },
                dataType: 'json',
                success: function (data) {
                    // Clear the table body
                    $('#userTable tbody').empty();
                    console.log("Cleared Table");

                    // Append the filtered users to the table body
                    for (var i = 0; i < data.length; i++) {
                        var user = data[i];
                        console.log("Email: " + user.email);
                        console.log("First Name: " + user.firstName);
                        console.log("Last Name: " + user.email);
                        console.log("Gender: " + user.gender);
                        console.log("Organisation: " + user.organisationName);
                        console.log("Training Team: " + user.trainingTeamName);
                        $('#userTable tbody').append(
                            '<tr>' +
                            '<td>' + user.email + '</td>' +
                            '<td>' + user.firstName + '</td>' +
                            '<td>' + user.lastName + '</td>' +
                            '<td>' + user.gender + '</td>' +
                            '<td>' + user.organisationName + '</td>' +
                            '<td>' + user.trainingTeamName + '</td>' +
                            '</tr>'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    // Handle the error
                }
            });
        });
    });
</script>

<script>
    // Search table based on entered text

    function searchTable() {
        var input = $('#myInput').val().toLowerCase();
        var filterColumn = $('#filterType').val();
        var filterOption = $('#filterOptions').val();

        $('#userTable tbody tr').each(function () {
            var row = $(this);
            if (row.text().toLowerCase().indexOf(input) > -1) {
                row.show();
            } else {
                row.hide();
            }
        });
    }

    $('#searchButton').click(function () {
        searchTable();
    });
</script>



