@page
@model ETMP.Pages.ManageTrainingModel
@{
    ViewData["Title"] = "ManageTraining";
}   

<style>
    body{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://theengineeringmindset.com/wp-content/uploads/2019/05/Blueprint-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .leftMargin{
        margin-left: 50px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .form-group textarea {
        width: 100%;
        box-sizing: border-box;
     }


    #training-action, #training-name{
        margin-top: 20px;
    }

    #price-range{
        margin-top:10px;
    }

    input[type="text"], textarea, #training-options, #select-training {
        border-radius: 10px; 
        padding: 5px; 
        border: 1px solid #ccc; 
    }

    /*#add-training{
        display: none;
    }*/

    table {
        color: black;
        border: 5px solid;
        border-color: black;
    }
</style>

<div class="leftMargin">
    <form id="training-action" method="post">
        <label for="training-options">Select an action:</label>
        <select id="training-options" name="training-options">
            <option value="add-training">Add Training</option>
            <option value="remove-training">Remove Training</option>
            <option value="edit-training">Edit Training</option>
        </select>
    </form>

    <form id="add-training" method="post">
        <label for="training-name">Training Name:</label>
        <input type="text" id="training-name" placeholder="Training Name" required asp-for="Training.TrainingName"><br>

        <div class="form-group">
            <label for="price-range">Price Range: <span id="price-display">RM500</span></label>
            <input type="range" id="price-range" min="500" max="10000" value="500" asp-for="Training.TrainingPrice">
        </div>

        <div class="form-group">
            <label for="training-itinerary">Training Itinerary:</label>
            <textarea id="training-itinerary" placeholder="Enter the training itinerary and details" rows="5" cols="30" required asp-for="Training.TrainingItinerary"></textarea>
        </div>

        <label for="training-venue">Training Venue:</label>
        <input type="text" id="training-venue placeholder="Venue" required asp-for="Training.TrainingVenue"><br>

        <label for="training-venue">Training Category:</label>
        <input type="text" id="training-category" placeholder="Category" required asp-for="Training.TrainingCategory"><br>

        <div>
            <label form="training-availability">Is this training Available?
                <input type="radio" id="traininig-availability" value="true" asp-for="Training.Availability" /> Yes
                <input type="radio" id="traininig-availability" value="false" asp-for="Training.Availability" /> No
            </label>
        </div>

        <input type="submit" value="Add Training" asp-page-handler="AddButton">
    </form>
    <br />
</div>
<div class="leftMargin">
    <form id="edit-training" method="post" style="display:block;">
        <label for="TrainingNameDropdownList">
            Training Name:
            <select id="select-training" asp-for="SelectedTraining" asp-items="@Model.TrainingNames"></select><br />
        </label><br />
        <table class="table">
            <tbody>
                @foreach (var item in Model.EditTraining)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainingName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainingPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainingVenue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainingItinerary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainingCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Availability)
                        </td>
                        <td>
                            <a asp-page="./EditTraining" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    <br />
                }
                </tbody>
        </table>
    </form>
        

    <!--
                /*
                <div class="form-group">
                    <label asp-for="EditTraining.TrainingPrice"></label>
                    <input asp-for="EditTraining.TrainingPrice" value="TrainingName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="EditTraining.TrainingItinerary"></label>
                    <input asp-for="EditTraining.TrainingItinerary" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="EditTraining.TrainingVenue"></label>
                    <input asp-for="EditTraining.TrainingVenue" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="EditTraining.TrainingCategory"></label>
                    <input asp-for="EditTraining.TrainingCategory" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="EditTraining.Availability"></label>
                    <input asp-for="EditTraining.Availability" class="form-control" readonly />
                </div>
                */

    <form id="edit-training" method="post" style="display:none;">
        <label for="training-list">Select a training:</label>
        <select id="training-list" name="training-list">
            <option value="training1">Education Training</option>
            <option value="training2">IT Training</option>
            <option value="training3">Literature Training</option>
        </select>

        <div class="form-group">
            <label for="price-range">Price: RM123</label>
            <input type="range" id="price-range" name="price-range" min="500" max="10000" value="1">
            <span id="price-display">RM500</span>
        </div>

        <div class="form-group">
            <label for="training-itinerary">Training Itinerary:</label>
            <textarea id="training-itinerary" name="training-itinerary" placeholder="Enter the training itinerary and details" rows="5" cols="30" required></textarea>
        </div>

        <label for="training-venue">Training Venue:</label>
        <input type="text" id="training-venue" name="training-venue" placeholder="Venue" required><br>

        <input type="submit" name="submit" value="Edit Training">
    </form>
    -->
</div>

